@page
@using WebdevelopmentPeriode3.Repository
@model WebdevelopmentPeriode3.Pages.Overzicht
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<style>
    form, .counter 
    {
        float:  right;
        position: relative;
        margin-left: 5px;
    }
</style>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Overzicht</th>
            <th scope="col">Hoeveelheid</th>
            <th scope="col">Prijs</th>
            <th scope="col">Totaal</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var productOverzicht in Model.ProductOverzichts)
        {
            <tr>
                <td>@productOverzicht.Name</td>
                <td class="text-center">
                    <form method="post" >
                        <input type="hidden" name="ProductId" asp-for="@productOverzicht.Amount" value="@productOverzicht.ProductId"/>
                        <input type="hidden" name="TableId" value="@productOverzicht.TableId"/>
                       
                        
                        <button asp-page-handler="Increment" type="Submit" class="btn-sm btn-dark fa fa-plus" style="border-radius: 50px;"></button>
                    
                        <span>@productOverzicht.Amount</span>
                    
                        <button asp-page-handler="Decrement" type="submit" class="btn-sm btn-dark fa fa-minus" style="border-radius: 50px;"></button>
                        
                    </form>
                </td>
                <td>Prijs per stuk: @productOverzicht.Price.ToString("C")</td>
                <td>Eindbedrag: @((productOverzicht.Amount * productOverzicht.Price).ToString("C"))</td>
            </tr>
        }



        </tbody>
        <tfoot>
        <tr>
            <th scope="row"></th>
            <td/>
            <td/>
            <th>$0</th>
        </tr>
        </tfoot>
    </table>
    <div class="col-sm-12 btn-block float-end">
        <a class="btn btn-primary float-end m-2" href="/Ober/AllesBetalen">Alles betalen</a>
        <a class="btn btn-primary float-end m-2" href="/Ober/PerPersoonBetalen">Betalen per persoon</a>
    </div>
</div>